@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lora');

body{
	margin:0px;
	background:#fafafa;
	font-family: 'Inconsolata', monospace;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Lora', serif;
}


green{
	color:green;
}

/*
	TOP AREA
*/

#top-wrapper{
	width:100%;
	text-align: center;
	margin:auto;
}

#header-area{
	background: rgba(0,0,0,0.8);
	text-transform: uppercase;
	text-align: center;
	margin:0 auto;
	padding:5px;
	font-size:1.5em;
}


/*
	MIDDLE ARE ( Where the content lives)
*/
#description{
		font-family: 'Inconsolata', monospace;
}

#middle-wrapper{
	max-width:800px;
	text-align: center;
	margin: auto;
}

#main-navigation{
	/* Finne behagelige background colors på alle tekst-containere */
	background: rgba(0,0,0,0.8);
	padding:0.2em;
	text-align: center;
}

#main-navigation>a{
	text-transform: uppercase;
	font-size:20px;
	color:green;
	margin-left:20px;
	list-style: none;
}
/* menyen som vises vertikalt */
#dickeLinken{
	list-style: none;
	padding: 2em 0em 1em 0em;
	margin: 0 auto;
}
#dickeLinken a:link {
	color:rgba(0,230,50,0.8);
}
#dickeLinken a:visited {
	color:rgba(0,200,30,1);
}

.external-link{
	height:1.5em;
	margin:0em 0em 0em 1em;
	background-color: transparent; /* Forsikrer oss om at det ikke er noe grell white bakgrunn */ 
}


#display-area p h1{
	background:white;
	margin: auto;
	text-align: center;
	font-size:3em;
}


/*
	BOTTOM AREA
*/

footer{
	font-family: 'Inconsolata', monospace;
	width:100%;
	position: fixed;
	bottom: 1em;
	text-align: center;
	transform: scale(20px);
	transform: translateY(50%);
	font-size: 0.8rem;
	background:transparent;
}

#bgChanger{
	padding:0.3em;
	font-family: "Inconsolata", monospace;
	background-color: transparent;
	font-size:150%;
	border-radius: 0.8em;
	margin:0.2em;
}
#selectDomElement{
	padding:0.3em;
	font-family: "Inconsolata", monospace;
	background-color: transparent;
	font-size:150%;
	border:none;
	margin:0.2em;
}
#selectDomElement:active{

}
